.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    background: #fff;
}

.dark .footer{
    background: #1b1b1b;
}
