.section h2{
    text-align: start;
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-left: 20px;
}

.recipe-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(220px , 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.load-more{
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    background: #ff8a00;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.load-more:hover{
    transform: scale(1.05);
    background: #ff6600;
}