.loader{
    text-align: center;
    margin-top: 3rem;

}

.spinner{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e52e71;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 1rem;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}