.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.8rem;
    background: linear-gradient(135deg,#ff8a00 ,#e52e71);
    color: #fff;

}

.dark-btn{
    background: white;
    color: #e52e71;
    border: none;
    padding: 0.5rem 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.navbar h1{
    cursor: pointer;
}

.dark-btn:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}