.recipe-card{
    background:#fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0 , 0 , 0 , 0.1);
    transition: transform 0.2s ease;
}

.dark .recipe-card{
    background: #2b2b2b;
    
}

.recipe-card:hover{
    transform: scale(1.05);
}
.recipe-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;

}